<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/_header %>
</head>
<body>
    <h2>List of current URLS</h2>
    <ul>
      <% for (url in urls) { %>

          <a href="/urls/<%= url %>"> <%= url %> </a> &#8594; <%= urls[url] %>
          <a href="/urls/<%=url%>">Edit</a>
          <form method="POST" action="/urls/<%=url%>/delete">
            <label for="delete"></label>
            <button type="submit" value="delete">Delete <img src="http://pngimg.com/uploads/trash_can/trash_can_PNG18430.png" style="width:15px;height:15px;" vspace="2"></button>
          </form>
          <br>
      <% } %>
    </ul>
    <br>
    <a href="/urls/new"> Create a new shortened URL</a>
</body>
</html>
